<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="productSettings" type="AdvantageLaserData.Utils.Config.ConfigHandler, AdvantageLaserData" />
  </configSections>
  <nlog internalLogFile="file.txt" throwExceptions="true">
    <targets>
      <target name="f1" type="file" fileName="${basedir}/logs/${date:format=yyyyMMhh}.log.txt" layout="${longdate} ${level:uppercase=true} ${message}" />
    </targets>
    <rules>
      <logger name="*" writeTo="f1" minlevel="Info" />
    </rules>
  </nlog>
  <appSettings>
    <add key="SqlConnectionString_OLD" value="Data Source=SHOUGHTONHOME\SQLEXPRESS; Initial Catalog=CheckProject_Test; User Id=SHOUGHTONHOME\CheckProject; Password=;" />
    <add key="SqlConnectionString" value="Data Source=WEB01; Initial Catalog=CheckProject_Test; User id=webcheck; Password=wahsega94$;" />
    <add key="testing" value="no" />
    <add key="localtesting" value="yes" />
    <add key="salesEmail" value="steveinsmyrna@gmail.com" />
    <add key="adminEmail" value="steveinsmyrna@gmail" />
    <add key="bccEmail" value="steveinsmyrna@gmail" />
    <add key="logo_directory" value="C:\advlaser\logo" />
    <add key="preview_directory" value="C:\advlaser\preview" />
    <add key="appBasePath" value="http://localhost:64322" />
    <add key="art_upload_directory" value="uploads" />
    <add key="art_upload_email" value="steveinsmyrna@gmail.com" />
    <add key="thing1" value="Three+Three=Six"/>
    <add key="password" value="@homeOR@work"/>
  </appSettings>
  <connectionStrings />
  <system.net>
    <mailSettings>
      <smtp from="test@foo.com">
        <network host="192.168.1.2" port="25" defaultCredentials="true" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <httpRuntime maxRequestLength="51200" ></httpRuntime>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0" />
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows" />
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"><controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls></pages>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <!-- maxAllowedContentLength, for IIS, in bytes -->
        <requestLimits maxAllowedContentLength="52428800" ></requestLimits>
      </requestFiltering>
    </security>
  </system.webServer>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
</configuration>